<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% if tittlename %}
            {{ tittlename }}.
        {% else %}
            Анонимус,
        {% endif %}
        Лабораторная работа 2
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <header>
        WEB - программирование, 2 часть. {% if lab_num %}Лабораторная работа 2{% endif %}
    </header>

    <ul>
        {% for f in fruits %}
        <li>{{loop.index}} - {{ f.name }}: {{ f.price }} &#x20bd;</li>
        {% endfor %}
    </ul>

    <main>
        {{r1}}, {{r2}}, {{r3}}, {{r4}}
    </main>

    <footer>
        &copy; 
        {% if name %}
            {{ name }},
        {% else %} 
            Анонимус,
        {% endif %}
        {{ group }}, 
        {{ course }},
        2024
    </footer>
</body>
</html>
