<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Зырянов Степан Павлович. Лабораторная работа 2</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <header>
        WEB - программирование, 2 часть. Лабораторная работа 2
    </header>

    <main>
        {{r1}}, {{r2}}, {{r3}}, {{r4}}
    </main>

    <footer>
        &copy; {{name}}, {{group}}, {{course}}, 2024
    </footer>
</body>
</html>